.cards {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}

.cards img {
  width: 240px;
  margin: 0 16px;
  margin-bottom: 16px;
  height: 30vh;
  object-fit: cover;
  cursor: zoom-in;
}

.cards label {
  margin-left: 16px;
}

.thumbsContainer {
  margin-left: 16px;
}

.thumb {
  margin-right: 16px;
}