.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 0;
}

.aLink:link, .aLink:visited, .aLink:active {
  color:#fff
}

.aLink:hover {
  font-weight: 700;
}

.aLink:link, .aLink:visited {
  text-decoration: none;
}